@use "../../../styles/scss/abstract/mixins" as *;


.order_header_page {
    // padding: 10px 24px 10px 24px;
    position: sticky;
    top: 59px;
    background-color: var(--card_box_bg);
    // z-index: 2;
    

  .order_item_list {
    display: flex;
    gap: 20px;
    border-bottom:1px solid var(--box-border) ;
    flex-wrap: wrap;

    @include media_567 {
      justify-content: space-between;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      padding: 0px 20px 3px 20px;
      &.active{
        color: var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
      }
    }

    
  }
}
