// Responsive Variables


$xxl: "only screen and (min-width: 1400px) and (max-width: 1600px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xsl: "only screen and (min-width: 450px) and (max-width: 575px)";

$xl:"only screen and (min-width: 1200px) and (max-width: 1536px)";


$media_min_1920 :"(min-width:1920px)"; 
$media_min_1700 :"(min-width:1700px)"; 
$media_min_767 :"(min-width:767px)";

$media_2048 : "(max-width:2048px)"; 

$media_1800 : "(max-width:1800px)"; 

$media_1600 : "(max-width:1600px)"; 
$media_1400 : "(max-width:1400px)"; 
$media_1536 : "(max-width:1536px)"; 
$media_1365 : "(max-width:1365px)"; 
$media_1300 : "(max-width:1300px)"; 

$media_1280 : "(max-width:1280px)"; 
$media_1200 : "(max-width:1200px)"; 
$media_1136 : "(max-width:1136px)"; 
$media_1024 : "(max-width:1024px)";
$media_990 :  "(max-width:990px)"; 
$media_968 : "(max-width:968px)";

$media_768 :  "(max-width:768px)"; 
$media_767 :  "(max-width:767px)"; 

$media_650 :  "(max-width:650px)"; 
$media_567 :  "(max-width:567px)"; 
$media_548 :  "(max-width:548px)"; 
$media_480 : "(max-width:480px)"; 

$media_457 : "(max-width:457px)";
$media_425 : "(max-width:425px)";
$media_375 : "(max-width:375px)"; 
$media_320 : "(max-width:320px)"; 



 