

:root{
  --font_60:60px;
  --font_40:40px;

  --font_38:38px;
  --font_32:32px;
  --font_24:24px;
  --font_29:29px;

  --font_22:22px;
  --font_20:20px;
  --font_18:18px;

  --font_16:16px;
  --font_14:14px;

  --font_12:12px;
  --font_10:10px;
}

// body{
//   .medium {
    
       
//       --font_40:40px;

//       --font_38:38px;
//       --font_32:32px;
//       --font_24:24px;
//       --font_29:29px;


//       --font_20:20px;
//       --font_18:18px;

//       --font_16:16px;
//       --font_14:14px;

//       --font_12:12px;
//       --font_10:10px;

     


//     }
  
//     // .small{
//     //   --font_40:38px;
//     //   --font_38:36px;
//     //   --font_25:23px;
//     //   --font_24:22px;
//     //   --font_20:18px;
//     //   --font_18:16px;
//     //   --font_16:14px; 
//     //   --font_14:12px;
//     //   --font_12:10px;
//     //   --font_10:8px;

//     //   --font_22:14px;
//     // }

//     // .large{
//     //   --font_40:42px;
//     //   --font_38:40px;
//     //   --font_25:27px;
//     //   --font_24:26px;
//     //   --font_20:22px;
//     //   --font_18:20px;
//     //   --font_16:18px;
//     //   --font_14:16px;
//     //   --font_12:14px;
//     //   --font_10:12px;

//     //   --font_22:26px;
//     // }

// }





