.broker_footer_page{
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    background: var(--card_box_bg);
       width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    background: #28B4CA;
    padding: 10px;
    color: #fff;
   
    p{
        font-size: 12px;
    }
}